@import ../common

$COLOR_FFMPEG_BRIGHT: lighten($COLOR_FFMPEG, 10%)

fieldset.file-source
  display: flex
  border: none
  outline: none
  transition: opacity 500ms
  width: 100%
  margin: 0
  padding: 0

  &:disabled
    opacity: 0.1
    pointer-events: none

  label
    width: 100%
    height: 4em
    border: 1px $COLOR_FFMPEG dashed
    color: $COLOR_FFMPEG
    background-color: rgba($COLOR_FFMPEG, 0.06)
    box-shadow: 0 0 1em 0 rgba($COLOR_FFMPEG, 0.5) inset, 0 0 2em 0 rgba($COLOR_FFMPEG, 0.25)
    border-radius: 1em
    display: flex
    align-items: center
    justify-content: center
    user-select: none
    transition: all 200ms ease-in
    cursor: pointer

    &:hover, &.dragover
      color: $COLOR_FFMPEG_BRIGHT
      border: 1px $COLOR_FFMPEG_BRIGHT dashed
      background-color: rgba($COLOR_FFMPEG_BRIGHT, 0.06)
      box-shadow: 0 0 1em 0 rgba($COLOR_FFMPEG_BRIGHT, 0.5) inset, 0 0 2em 0 rgba($COLOR_FFMPEG_BRIGHT, 0.25)

    > input
      display: none