@import ./common

#root
  max-width: 1280px
  margin: 0 auto
  padding: 4em
  display: flex
  flex-direction: column
  row-gap: 0.5em
  align-items: center

header
  perspective: 200px

  > div
    display: grid
    grid-template-columns: 75px
    row-gap: 0.5em
    padding: 0.5em
    border-radius: 1em
    border: 2px $COLOR_FFMPEG solid
    color: $COLOR_FFMPEG
    text-align: center
    box-shadow: 0 0 1em 0 rgba($COLOR_FFMPEG, 0.5) inset, 0 0 2em 0 rgba($COLOR_FFMPEG, 0.25)
    transform: rotateY(-22.5deg)

    > img
      width: 100%

h1
  color: $COLOR_FFMPEG

.file-info
  display: grid
  grid-template-columns: repeat(2, 1fr)
  column-gap: 1em
  font-size: 10px

  > span
    text-align: left
    white-space: nowrap
    color: white

    &:nth-child(2n+1)
      color: gray
      text-align: right

progress, audio
  display: block