\:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  font-size: 8px
  @media (min-width: 384px)
    font-size: 12px
  @media (min-width: 768px)
    font-size: 16px
  font-weight: 400
  color-scheme: dark
  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: #1A1A1A

body
  margin: 0
  display: flex
  overflow: hidden

*
  box-sizing: border-box